HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



###############################################################################
# BACKEND (SpringBoot+Maven) -ignore rules
###############################################################################


/backend/target/
/backend/leaderboard/target/


/backend/build/
/backend/leaderboard/build/


/backend/.idea/
/backend/leaderboard/.idea/
/backend/*.iml
/backend/leaderboard/*.iml
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/leaderboard/.classpath
/backend/leaderboard/.project
/backend/leaderboard/.settings/


/backend/.vscode/
/backend/leaderboard/.vscode/


/backend/.mvn/wrapper/maven-wrapper.jar
/backend/leaderboard/.mvn/wrapper/maven-wrapper.jar


/backend/*.log
/backend/leaderboard/*.log

src/main/resources/application.properties